[package]
name = "ui"
version = "0.0.1"
edition = "2021"
authors = ["Pants Build <pantsbuild@gmail.com>"]

[lib]
path = "src/console_ui.rs"

[dependencies]
console = { workspace = true }
futures = { workspace = true }
indexmap = { workspace = true }
indicatif = { workspace = true }
logging = { path = "../logging" }
parking_lot = { workspace = true }
# TODO: See https://github.com/Byron/prodash/pull/9.
prodash = { workspace = true }
stdio = { path = "../stdio" }
terminal_size = { workspace = true }
task_executor = { path = "../task_executor" }
uuid = { workspace = true, features = ["v4"] }
workunit_store = { path = "../workunit_store" }
