*.class
*.iml
*.ipr
*.iws
*.lock_message
*.pyc
*.hprof
*.swp
*.sublime-project
*.sublime-workspace
*~
*#
.#*
.DS_Store
.build.properties
.buildcache/
.coverage*
.idea
.cache
.pants.d
.pants.run
.pants.workdir.file_lock
.pants.stats
.pantsd.startup
.pids
.project
.settings
.classpath
.factorypath
.python
.pydevproject
build/
codegen/classes/
htmlcov/
out/
# remove root-level /bin, which is created by Eclipse
/bin/
/build-support/*.pex
/build-support/*.venv
/build-support/virtualenv-*
/build-support/virtualenv.dist/
/build-support/phab/
/dist/
/lib/
arc.sh
BUILD.release*
pants.ini.sitegen
target
GPATH
GRTAGS
GSYMS
GTAGS
