# See the menu of settings available here:
#   https://github.com/timothycrosley/isort/wiki/isort-Settings

[settings]
line_length=100
multi_line_output=3
include_trailing_comma=True
force_grid_wrap=0
use_parentheses=True

known_first_party=internal_backend,pants,pants_test
default_section=THIRDPARTY
not_skip=__init__.py
