# We use the mailmap to map email addresses to canonical full names.
# Some folks submit changes under several different email addresses
# and sometimes the full names associated with those email addresses
# varies.  The entries below correct the full names for alternate
# email addresses such that all email addresses used by a single
# person are associated with the same full name.
#
# See `git help shortlog` which has a section describing
# 'MAPPING AUTHORS', which can also be found here:
# ftp://www.kernel.org/pub/software/scm/git/docs/git-shortlog.html

Benjy Weinberger <benjy@foursquare.com>
Benjy Weinberger <benjyw@gmail.com>
Brian Wickman <wickman@apache.org>
Chris Burroughs <chris.burroughs@gmail.com>
Chris Heisterkamp <cheister@gmail.com>
Craig Schertz <cschertz@CraigLinuxMint.(none)>
Dan Davydov <ddavydov@twitter.com>
Fedor Korotkov <fkorotkov@twitter.com>
Fiona Condone <fiona@giphy.com>
Greg Shuflin <greg.shuflin@toolchain.com>
Jay Crumb <103955359+jcrumb-u21@users.noreply.github.com>
John Chee <cheecheeo+rbcommons@gmail.com>
John Ioannidis <rbcommons@tla.org>
John Sirois <jsirois@twitter.com>
Jon Boulle <jon@twitter.com>
Joshua Cannon <joshdcannon@gmail.com>
Justin Trobec <jtrobec@twitter.com>
Kris Wilson <kwilson@twopensource.com>
Larry Hosken <mister@lahosken.san-francisco.ca.us>
Lawrence Finn <larry@actioniq.co>
Le Nucksi <lenucksi@users.noreply.github.com>
Leo Kim <leo@foursquare.com>
Marius Eriksen <marius@monkey.org>
Mark Chu-Carroll <markcc@foursquare.com>
Mark McBride <mmcbride@twitter.com>
Nora Howard <ndh@baroquebobcat.com>
Nora Howard <nh@baroquebobcat.com>
Nora Howard <nhoward@twitter.com>
Nora Howard <nhoward@twopensource.com>
Ny Saechao <nysaechao@outlook.com>
Paul Yau <yaup@cs.washington.edu>
Rhys Madigan <rhysmadigan@gmail.com>
Robert Stapenhurst <robert@stapenhurst.co.uk>
Roger Jiang <rogerj.2010@gmail.com>
Sameer Brenn <sameerparekh@users.noreply.github.com>
Shantanu Kumar <ShantanuKumar@users.noreply.github.com>
Shuo Li <shuoli84@gmail.com>
Stu Hood <stuhood@gmail.com>
Suresh Joshi <suresh@vicarasolutions.com>
Suresh Joshi <sureshj@gmail.com>
Ugo Di Girolamo <ugodiggi@gmail.com>
Yi Cheng <wisechengyi@gmail.com>
Yujie Chen <yujieproject@gmail.com>
