language: python

python:
  - "2.6"
  - "2.7"

jdk:
  - openjdk6
  - openjdk7

script: |
  ./build-support/python/clean.sh \
  && PANTS_VERBOSE=1 PEX_VERBOSE=1 PYTHON_VERBOSE=1 ./pants.bootstrap \
  ; java -version \
  && ./pants goal clean-all \
  && ./pants goal test {src,tests}/java/com/twitter/common:: --no-ng-daemons -x \
  && ./pants goal test {src,tests}/scala/com/twitter/common:: --no-ng-daemons -x \
  && PANTS_PYTHON_TEST_FAILSOFT=1 PYTHON_VERBOSE-2 ./pants build --timeout=5 tests/python/twitter/common:all \
  && PANTS_PYTHON_TEST_FAILSOFT=1 PYTHON_VERBOSE=2 ./pants build --timeout=5 tests/python/twitter/pants:all

notifications:
  email:
      - john.sirois@gmail.com

