env:
  global:
    - PANTS_CONFIG_OVERRIDE="['pants.travis-ci.ini']"
    - ANDROID_SDK_INSTALL_LOCATION="${HOME}/opt/android-sdk-install"
    - ANDROID_HOME="$ANDROID_SDK_INSTALL_LOCATION/android-sdk-linux"
    # Credentials for OSX syncing: GH_USER, GH_EMAIL, GH_TOKEN
    # These are encrypted with a public key for our repo that only
    # Travis-CI has the private key for.  We are trusting Travis-CI
    # here but no-one else.
    #
    # See: http://docs.travis-ci.com/user/encryption-keys/
    - secure: VvwbndU++a2/iNAjk9cd67ATiipDwqcKnxDR4/J2Ik3GH10wHEDUhJ1+MK4WLhedfaOakDOEmarZQS3GwtgvCHO3knpTJuJc8d/bCfZovYuSqdi//BEv4dS7hDt6tQeJfkbBjG0T4yNjPJ3W9R9KDWCy/vj2CUm90BGg2CmxUbg=
    # User for bintray deploys: BINTRAY_USER
    - secure: eXGuKvbp297wi/z74jFqGyxzRDCFic9HUb0z2UYDXDmobErILZdgT0KCvqeyAx7QX/JQSp5oQAQNisE8RLrain5lXAIa2ZuswTPsh6yXGmFgwdx/X+Am7CPO27b0P5OxiJAN3kfYglN7qY+opRM1jud4anzEaTJnm7jENFfDXwk=
    # Key for bintray deploys: BINTRAY_KEY
    - secure: qid/ot1XIWOpNaN+RhgdJq8IEajcpHI5EFvy2ywkYHJO2hKYawyX2M4gFd0Vq8+xmeGB4MUmpPW8D8gijLi5JB+0aZ3+5JHs5r9NWkK7HVMpVnok3CywknzXBgeo+UoEQv9ugYvRr1Sm9Dj9IezAhM0tw1uS95Ap+JLbnWFB830=

before_cache:
  # Kill all python bytecode in our cached venvs.  Some files appear to
  # get bytecode compiled in non-yet-understood circumstances leading to
  # a full cache re-pack due to new bytecode files.
  - find build-support -name "*.py[co]" -print -delete
  # The `ivydata-*.properties` & root level `*.{properties,xml}` files'
  # effect on resolution time is in the noise, but they are
  # re-timestamped in internal comments and fields on each run and this
  # leads to travis-ci cache thrash.  Kill these files before the cache
  # check to avoid un-needed cache re-packing and re-upload (a ~100s
  # operation).
  - find ${HOME}/.ivy2/pants -type f -name "ivydata-*.properties" -print -delete
  - rm -fv ${HOME}/.ivy2/pants/*.{css,properties,xml,xsl}
  # We have several tests that do local file:// url resolves for
  # com.example artifacts, these disrupt the cache but are fast since
  # they're resolved from local files when omitted from the cache.
  - rm -rf ${HOME}/.ivy2/pants/com.example
  # The stats cache contains timestamped reports unused by CI but that
  # thrash the cache.  Skip caching these.
  - rm -rf ${HOME}/.cache/pants/stats

cache:
  directories:
    - ${HOME}/.cache/pants
    - ${HOME}/.ivy2/pants
    # TODO(John Sirois): Update this to ~/.npm/pants when pants starts
    # using its own isolated cache:
    #   https://github.com/pantsbuild/pants/issues/2485
    - ${HOME}/.npm
    - ${HOME}/.android
    - ${ANDROID_SDK_INSTALL_LOCATION}
    - build-support/isort.venv
    - build-support/pants_dev_deps.venv

# NB: There is much repetition in include elements, but there is no known current way to factor
# this duplication up.
matrix:
  include:
    - os: osx
      language: generic
      env: TRAVIS_SCRIPT="./pants --version"
      after_success:
        - ./build-support/bin/native/generate-bintray-manifest.sh

    - os: linux
      dist: trusty
      sudo: required
      addons:
        apt:
          packages:
            - lib32stdc++6
            - lib32z1
            - lib32z1-dev
            - oracle-java6-installer
            - gcc-multilib
      language: python
      python: "2.7.12"
      before_install:
        # Remove bad openjdk6 from trusty image, so
        # Pants will pick up oraclejdk6 from `packages` above.
        - sudo rm -rf /usr/lib/jvm/java-1.6.0-openjdk-amd64
        - sudo rm -rf /usr/lib/jvm/java-6-openjdk-amd64
        - jdk_switcher use oraclejdk8
      env: TRAVIS_SCRIPT="./build-support/bin/ci.sh -x -cjlpn 'Various pants self checks'" # (fkmsr)
      before_script:
        - ./build-support/bin/ci-sync.sh
        - ./build-support/bin/install-android-sdk.sh
      after_success:
        - ./build-support/bin/native/generate-bintray-manifest.sh

    - os: linux
      dist: trusty
      sudo: required
      addons:
        apt:
          packages:
            - lib32stdc++6
            - lib32z1
            - lib32z1-dev
            - oracle-java6-installer
            - gcc-multilib
      language: python
      python: "2.7.12"
      before_install:
        # Remove bad openjdk6 from trusty image, so
        # Pants will pick up oraclejdk6 from `packages` above.
        - sudo rm -rf /usr/lib/jvm/java-1.6.0-openjdk-amd64
        - sudo rm -rf /usr/lib/jvm/java-6-openjdk-amd64
        - jdk_switcher use oraclejdk8
      env: TRAVIS_SCRIPT="./build-support/bin/ci.sh -x -fkmsrcn -u 0/2 'Unit tests for pants and pants-plugins - shard 1'" # (jlp)
      before_script:
        - ./build-support/bin/ci-sync.sh
        - ./build-support/bin/install-android-sdk.sh
      after_success:
        - ./build-support/bin/native/generate-bintray-manifest.sh

    - os: linux
      dist: trusty
      sudo: required
      addons:
        apt:
          packages:
            - lib32stdc++6
            - lib32z1
            - lib32z1-dev
            - oracle-java6-installer
            - gcc-multilib
      language: python
      python: "2.7.12"
      before_install:
        # Remove bad openjdk6 from trusty image, so
        # Pants will pick up oraclejdk6 from `packages` above.
        - sudo rm -rf /usr/lib/jvm/java-1.6.0-openjdk-amd64
        - sudo rm -rf /usr/lib/jvm/java-6-openjdk-amd64
        - jdk_switcher use oraclejdk8
      env: TRAVIS_SCRIPT="./build-support/bin/ci.sh -x -fkmsrcn -u 1/2 'Unit tests for pants and pants-plugins - shard 2'" # (jlp)
      before_script:
        - ./build-support/bin/ci-sync.sh
        - ./build-support/bin/install-android-sdk.sh
      after_success:
        - ./build-support/bin/native/generate-bintray-manifest.sh

    - os: linux
      dist: trusty
      sudo: required
      addons:
        apt:
          packages:
            - lib32stdc++6
            - lib32z1
            - lib32z1-dev
            - oracle-java6-installer
            - gcc-multilib
      language: python
      python: "2.7.12"
      before_install:
        # Remove bad openjdk6 from trusty image, so
        # Pants will pick up oraclejdk6 from `packages` above.
        - sudo rm -rf /usr/lib/jvm/java-1.6.0-openjdk-amd64
        - sudo rm -rf /usr/lib/jvm/java-6-openjdk-amd64
        - jdk_switcher use oraclejdk8
      env: TRAVIS_SCRIPT="./build-support/bin/ci.sh -x -fkmsrcjlp 'Python contrib tests'" # (n)
      before_script:
        - ./build-support/bin/ci-sync.sh
        - ./build-support/bin/install-android-sdk.sh
      after_success:
        - ./build-support/bin/native/generate-bintray-manifest.sh

    - os: linux
      dist: trusty
      sudo: required
      addons:
        apt:
          packages:
            - lib32stdc++6
            - lib32z1
            - lib32z1-dev
            - oracle-java6-installer
            - gcc-multilib
      language: python
      python: "2.7.12"
      before_install:
        # Remove bad openjdk6 from trusty image, so
        # Pants will pick up oraclejdk6 from `packages` above.
        - sudo rm -rf /usr/lib/jvm/java-1.6.0-openjdk-amd64
        - sudo rm -rf /usr/lib/jvm/java-6-openjdk-amd64
        - jdk_switcher use oraclejdk8
      env: TRAVIS_SCRIPT="./build-support/bin/ci.sh -x -fkmsrjlpn -i 0/7 'Python integration tests for pants - shard 1'" # (c)
      before_script:
        - ./build-support/bin/ci-sync.sh
        - ./build-support/bin/install-android-sdk.sh
      after_success:
        - ./build-support/bin/native/generate-bintray-manifest.sh

    - os: linux
      dist: trusty
      sudo: required
      addons:
        apt:
          packages:
            - lib32stdc++6
            - lib32z1
            - lib32z1-dev
            - oracle-java6-installer
            - gcc-multilib
      language: python
      python: "2.7.12"
      before_install:
        # Remove bad openjdk6 from trusty image, so
        # Pants will pick up oraclejdk6 from `packages` above.
        - sudo rm -rf /usr/lib/jvm/java-1.6.0-openjdk-amd64
        - sudo rm -rf /usr/lib/jvm/java-6-openjdk-amd64
        - jdk_switcher use oraclejdk8
      env: TRAVIS_SCRIPT="./build-support/bin/ci.sh -x -fkmsrjlpn -i 1/7 'Python integration tests for pants - shard 2'" # (c)
      before_script:
        - ./build-support/bin/ci-sync.sh
        - ./build-support/bin/install-android-sdk.sh
      after_success:
        - ./build-support/bin/native/generate-bintray-manifest.sh

    - os: linux
      dist: trusty
      sudo: required
      addons:
        apt:
          packages:
            - lib32stdc++6
            - lib32z1
            - lib32z1-dev
            - oracle-java6-installer
            - gcc-multilib
      language: python
      python: "2.7.12"
      before_install:
        # Remove bad openjdk6 from trusty image, so
        # Pants will pick up oraclejdk6 from `packages` above.
        - sudo rm -rf /usr/lib/jvm/java-1.6.0-openjdk-amd64
        - sudo rm -rf /usr/lib/jvm/java-6-openjdk-amd64
        - jdk_switcher use oraclejdk8
      env: TRAVIS_SCRIPT="./build-support/bin/ci.sh -x -fkmsrjlpn -i 2/7 'Python integration tests for pants - shard 3'" # (c)
      before_script:
        - ./build-support/bin/ci-sync.sh
        - ./build-support/bin/install-android-sdk.sh
      after_success:
        - ./build-support/bin/native/generate-bintray-manifest.sh

    - os: linux
      dist: trusty
      sudo: required
      addons:
        apt:
          packages:
            - lib32stdc++6
            - lib32z1
            - lib32z1-dev
            - oracle-java6-installer
            - gcc-multilib
      language: python
      python: "2.7.12"
      before_install:
        # Remove bad openjdk6 from trusty image, so
        # Pants will pick up oraclejdk6 from `packages` above.
        - sudo rm -rf /usr/lib/jvm/java-1.6.0-openjdk-amd64
        - sudo rm -rf /usr/lib/jvm/java-6-openjdk-amd64
        - jdk_switcher use oraclejdk8
      env: TRAVIS_SCRIPT="./build-support/bin/ci.sh -x -fkmsrjlpn -i 3/7 'Python integration tests for pants - shard 4'" # (c)
      before_script:
        - ./build-support/bin/ci-sync.sh
        - ./build-support/bin/install-android-sdk.sh
      after_success:
        - ./build-support/bin/native/generate-bintray-manifest.sh

    - os: linux
      dist: trusty
      sudo: required
      addons:
        apt:
          packages:
            - lib32stdc++6
            - lib32z1
            - lib32z1-dev
            - oracle-java6-installer
            - gcc-multilib
      language: python
      python: "2.7.12"
      before_install:
        # Remove bad openjdk6 from trusty image, so
        # Pants will pick up oraclejdk6 from `packages` above.
        - sudo rm -rf /usr/lib/jvm/java-1.6.0-openjdk-amd64
        - sudo rm -rf /usr/lib/jvm/java-6-openjdk-amd64
        - jdk_switcher use oraclejdk8
      env: TRAVIS_SCRIPT="./build-support/bin/ci.sh -x -fkmsrjlpn -i 4/7 'Python integration tests for pants - shard 5'" # (c)
      before_script:
        - ./build-support/bin/ci-sync.sh
        - ./build-support/bin/install-android-sdk.sh
      after_success:
        - ./build-support/bin/native/generate-bintray-manifest.sh

    - os: linux
      dist: trusty
      sudo: required
      addons:
        apt:
          packages:
            - lib32stdc++6
            - lib32z1
            - lib32z1-dev
            - oracle-java6-installer
            - gcc-multilib
      language: python
      python: "2.7.12"
      before_install:
        # Remove bad openjdk6 from trusty image, so
        # Pants will pick up oraclejdk6 from `packages` above.
        - sudo rm -rf /usr/lib/jvm/java-1.6.0-openjdk-amd64
        - sudo rm -rf /usr/lib/jvm/java-6-openjdk-amd64
        - jdk_switcher use oraclejdk8
      env: TRAVIS_SCRIPT="./build-support/bin/ci.sh -x -fkmsrjlpn -i 5/7 'Python integration tests for pants - shard 6'" # (c)
      before_script:
        - ./build-support/bin/ci-sync.sh
        - ./build-support/bin/install-android-sdk.sh
      after_success:
        - ./build-support/bin/native/generate-bintray-manifest.sh

    - os: linux
      dist: trusty
      sudo: required
      addons:
        apt:
          packages:
            - lib32stdc++6
            - lib32z1
            - lib32z1-dev
            - oracle-java6-installer
            - gcc-multilib
      language: python
      python: "2.7.12"
      before_install:
        # Remove bad openjdk6 from trusty image, so
        # Pants will pick up oraclejdk6 from `packages` above.
        - sudo rm -rf /usr/lib/jvm/java-1.6.0-openjdk-amd64
        - sudo rm -rf /usr/lib/jvm/java-6-openjdk-amd64
        - jdk_switcher use oraclejdk8
      env: TRAVIS_SCRIPT="./build-support/bin/ci.sh -x -fkmsrjlpn -i 6/7 'Python integration tests for pants - shard 7'" # (c)
      before_script:
        - ./build-support/bin/ci-sync.sh
        - ./build-support/bin/install-android-sdk.sh
      after_success:
        - ./build-support/bin/native/generate-bintray-manifest.sh

script: |-
  uname -a

  if [ "${TRAVIS_OS_NAME}" == "osx" ]; then
    export CXX=clang++
    /usr/libexec/java_home
  else # linux
    export CXX=g++
    echo ${JAVA_HOME}
  fi

  java -version

  ${TRAVIS_SCRIPT}

deploy:
  # See: https://docs.travis-ci.com/user/deployment/bintray/
  provider: bintray

  # NB: This is generated in after_success in each shard above.
  file: ./native-engine.bintray.json

  user: ${BINTRAY_USER}
  key: ${BINTRAY_KEY}
  dry-run: false
  on:
    # NB: Pull requests do not trigger deploys, so this setting means we always build a
    # native-engine binary for master and each of our long-term branches.
    all_branches: true

# We accept the default travis-ci email author+committer notification
# for now which is enabled even with no `notifications` config.
# notifications:
#   email: ...
