# Setting the language to objective-c is the magic to get an OSX slave
# assigned by Travis CI.
# Its not clearly spelled out, but the relevant bits are documented here:
#   http://docs.travis-ci.com/user/languages/objective-c/
#   http://docs.travis-ci.com/user/osx-ci-environment/
#
# NB: Travis-CI does have support for an os list in the main .travis.yml
# and this would be preferrable, but they are currently under capacity
# on osx slaves and not accepting new users:
#   http://blog.travis-ci.com/2014-05-13-multi-os-feature-available/
language: objective-c

matrix:
  # The https://github.com/pantsbuild/pants-for-travis-osx-ci repo this CI runs for is force
  # pushed to asynchronously by https://github.com/pantsbuild/pants CI jobs.  With multiple
  # shards in play for the OSX ci we often get into situations where later-scheduled shards
  # try to check out the repo and fail since the sha they are looking for has since been
  # eradicated by a force push from the https://github.com/pantsbuild/pants CI job when changes
  # are landing on master quickly.  We fail-fast here to not belabor the point and allow the next
  # green OSX CI to happen more quickly.
  fast_finish: true

env:
  global:
    - CXX=clang++
    - PANTS_CONFIG_OVERRIDE="['pants.travis-ci.ini']"
  matrix:
    # No need to run the self-checks on OSX where vms are at a premium since these are file-level,
    # non-platform fragile lints.
    # - CI_FLAGS="-clpnet 'Various pants self checks'"  # (fkmsr)
    - CI_FLAGS="-fkmsrcn 'Unit tests for pants and pants-plugins'"  # (jlp)
    - CI_FLAGS="-fkmsrcjlpa 'Python contrib tests'"  # (n)
    - CI_FLAGS="-fkmsrjlpn -i 0/3 'Python integration tests for pants - shard 1'"  # (c)
    - CI_FLAGS="-fkmsrjlpn -i 1/3 'Python integration tests for pants - shard 2'"
    - CI_FLAGS="-fkmsrjlpn -i 2/3 'Python integration tests for pants - shard 3'"

before_install:
  # We need a sane python and as of 3/5/2015 on OSX 10.9 the provided python 2.7.5 encounters
  # strange issues with absolute imports in the coverage module whereas the brew python 2.7.9 has
  # no such issues.
  - brew update
  - brew install python

script: |
  sw_vers
  python --version
  java -version
  echo "Bumping open file ulimit from `ulimit -n`..."
  ulimit -n 8192 # This is probably higher than needed, 1024 limits on linux seem to work fine.
  echo "...to `ulimit -n`"
  ./build-support/bin/ci.sh -x ${CI_FLAGS}

# The `notifications:` configuration will be programatically copied over from `.travis.yml` for
# central maintenance of distribution lists, see: `build-support/bin/ci-sync.sh`.
