language: python

python:
  - "2.6"
  - "2.7"

install:
  - pip install coveralls

env:
  global:
    # Credentials for OSX syncing: GH_USER, GH_EMAIL, GH_TOKEN
    # These are encrypted with a public key for our repo that only
    # Travis-CI has the private key for.  We are trusting Travis-CI
    # here but no-one else.
    #
    # See: http://docs.travis-ci.com/user/encryption-keys/
    - secure: VvwbndU++a2/iNAjk9cd67ATiipDwqcKnxDR4/J2Ik3GH10wHEDUhJ1+MK4WLhedfaOakDOEmarZQS3GwtgvCHO3knpTJuJc8d/bCfZovYuSqdi//BEv4dS7hDt6tQeJfkbBjG0T4yNjPJ3W9R9KDWCy/vj2CUm90BGg2CmxUbg=

before_script: |
  ./build-support/bin/ci-sync.sh

script: |
  uname -a
  java -version
  ./build-support/bin/ci.sh -d

# We accept the default email author+comitter notification for now.
# this is a placeholder for the build-support/bin/ci-sync.sh script
# to rely on to transfer notification settings to .travis.osx.yml.
notifications:
  email: true

after_success:
  coveralls

