[GLOBAL]
# Override color support detection - we want colors and Travis supports them.
colors = true
# TODO: See #9924.
dynamic_ui = false

[stats]
log = true

[test]
use_coverage = true

[pytest]
junit_xml_dir = "dist/test-results/"

[coverage-py]
report = ["raw", "xml"]

[auth]
from_env_var = "TOOLCHAIN_AUTH_TOKEN"
org = "pantsbuild"
ci_env_variables = [
  "TRAVIS", "TRAVIS_JOB_ID", "TRAVIS_BUILD_ID", "TRAVIS_PULL_REQUEST", "TRAVIS_BUILD_WEB_URL",
  "GITHUB_ACTIONS", "GITHUB_RUN_ID", "GITHUB_REF", "GITHUB_EVENT_NAME", "GITHUB_SHA",
]

[buildsense]
enable = true

[subprocess-environment]
env_vars.add = [
  # Works around bad `-arch arm64` flag embedded in Xcode 12.x Python interpreters on intel
  # machines. See: https://github.com/giampaolo/psutil/issues/1832
  "ARCHFLAGS",
]
