[tool.black]
line-length = 100
exclude = '''
/(
  # These would already be ignored by pants, but having them here allows for manually running Black if one so wishes.
  | \.git
  | \.mypy_cache
  | dist
  | \.pants\.d
  | virtualenvs
  # This file intentionally contains invalid syntax
  # It trips black up.
  | compilation_failure
)/
'''

[tool.isort]
profile = "black"
line_length = 100
color_output = true
known_first_party = ["internal_plugins", "pants", "pants_test"]

[tool.pytest.ini_options]
asyncio_mode = "auto"
markers = ["platform_specific_behavior"]

[tool.coverage.report]
# We inject this file at test time (see src/python/pants/conftest.py), and so
# coverage will gather stats for it, but it doesn't correspond to a real source file,
# so reporting will fail, unless we omit it here.
omit = ["src/python/pants/__init__.py"]

[tool.mypy]
namespace_packages = true
explicit_package_bases = true
mypy_path = "src/python:tests/python:testprojects/src/python"
plugins = "mypy_typing_asserts.mypy_plugin, strawberry.ext.mypy_plugin"

no_implicit_optional = true
implicit_reexport = false
strict_equality = true

warn_unused_configs = true
warn_unused_ignores = true
warn_return_any = true
warn_redundant_casts = true
warn_unreachable = true

pretty = true
show_column_numbers = true
show_error_context = true
show_error_codes = true
show_traceback = true

[[tool.mypy.overrides]]
module = [
  "botocore",
  "bs4",
  "chevron",
  "colors",
  "dockerfile",
  "fasteners",
  "freezegun",
  "gnupg",
  "hdrh",
  "hdrh.histogram",
  "ijson.*",
  "nodesemver",
  "pex.*",
  "psutil",
]
ignore_missing_imports = true

[tool.ruff]
target-version = "py39"
# same as black
line-length = 100

[tool.ruff.lint]
select = [
  # flake8 defaults:
  "F",
  "E",
  "W",
]

ignore = [
  # whitespace before ':' (conflicts with Black)
  "E203",
  # Bad trailing comma (conflicts with Black)
  "E231",
  # line too long (> 79 characters)
  "E501",
  # Do not assign a lambda expression
  "E731",
  # Ambiguous variable name (enable once fixed)
  "E741",
]
