[tool.coverage.run]
omit = [
  # pants/engine/internals tests
  "preludes/bad.py",
  # from testprojects/src/python/vcs_test/
  "tables.py",
  # While BUILD files are Python, during testing we create/inject/munge and do
  # all sorts of things with them that is hard to track
  "BUILD",
]

[tool.mypy]
namespace_packages = true
explicit_package_bases = true
mypy_path = "src/python:tests/python:testprojects/src/python"
plugins = "mypy_typing_asserts.mypy_plugin"

no_implicit_optional = true
implicit_reexport = false
strict_equality = true

warn_unused_configs = true
warn_unused_ignores = true
warn_return_any = true
warn_redundant_casts = true
warn_unreachable = true

pretty = true
show_column_numbers = true
show_error_context = true
show_traceback = true

[[tool.mypy.overrides]]
module = [
  "botocore",
  "bs4",
  "chevron",
  "colors",
  "dockerfile",
  "fasteners",
  "freezegun",
  "gnupg",
  "hdrh",
  "hdrh.histogram",
  "ijson.*",
  "nodesemver",
  "pex.*",
  "psutil",
]
ignore_missing_imports = true

[tool.pytest.ini_options]
asyncio_mode = "auto"
markers = ["platform_specific_behavior"]

[tool.ruff]
# Exclusions were copied from [tool.black]
exclude = [".git", ".mypy_cache", ".pants.d", "dist/"]
line-length = 100
target-version = "py311"

[tool.ruff.lint]
# I: isort (import sorting)
# UP: pyupgrade (update Python code to `target-version`)
select = ["I", "UP"]
# UP006/UP035: replaces DefaultDict with collections.defaultdict - lots of churn (which SJ wants to batch after 3.14)
# UP007: Many buried, non-auto-fixable unions
# UP018: Replaces `int(42)` in tests, breaking call-by-type and implicitly
# UP031: Two string replacements that are not auto-fixable
# UP036: Outdated version check (in rule_visitor for Python 3.8)
ignore = ["UP006", "UP007", "UP018", "UP031", "UP035", "UP036"]

[tool.ruff.lint.isort]
known-first-party = ["internal_plugins", "pants", "pants_test"]
