
{{nom}}{{#argspec}}{{argspec}}{{/argspec}}

{{#classdoc_rst}}
{{{classdoc_rst}}}
{{/classdoc_rst}}

{{#msg_rst}}
{{{msg_rst}}}
{{/msg_rst}}

{{#funcdoc_rst}}
{{{funcdoc_rst}}}
{{/funcdoc_rst}}

{{#showmethods}}
Methods:
{{#methods}}

  {{nom}}{{argspec}}

{{{funcdoc_rst}}}
{{/methods}}
{{/showmethods}}
