{{#defn.msg_rst}}{{defn.msg_rst}}{{/defn.msg_rst}}
{{#defn.classdoc_rst}}{{defn.classdoc_rst}}{{/defn.classdoc_rst}}
{{#defn.funcdoc_rst}}{{defn.funcdoc_rst}}{{/defn.funcdoc_rst}}
{{#defn.argspec}}{{defn.argspec}}{{/defn.argspec}}