[package]
name = "store"
version = "0.1.0"
authors = ["Daniel Wagner-Hall <dwagnerhall@twitter.com>"]
edition = "2018"

[dependencies]
async-stream = "0.2"
async-trait = "0.1"
bazel_protos = { path = "../../process_execution/bazel_protos" }
bytes = "0.5"
concrete_time = { path = "../../concrete_time" }
grpc_util = { path = "../../grpc_util" }
fs = { path = ".." }
futures = { version = "0.3" }
glob = "0.2.11"
hashing = { path = "../../hashing" }
indexmap = "1.4"
itertools = "0.7.2"
lmdb = { git = "https://github.com/pantsbuild/lmdb-rs.git", rev = "06bdfbfc6348f6804127176e561843f214fc17f8" }
log = "0.4"
parking_lot = "0.11"
prost = { git = "https://github.com/danburkert/prost", rev = "a1cccbcee343e2c444e1cd2738c7fba2599fc391" }
prost-types = "0.6"
serverset = { path = "../../serverset" }
serde = "1.0"
serde_derive = "1.0"
sharded_lmdb = { path = "../../sharded_lmdb" }
task_executor = { path = "../../task_executor" }
tempfile = "3"
tokio-rustls = "0.14"
tonic = { version = "0.3", features = ["transport", "codegen", "tls", "tls-roots", "prost"] }
tryfuture = { path = "../../tryfuture" }
uuid = { version = "0.7.1", features = ["v4"] }
workunit_store = {path = "../../workunit_store" }

[dev-dependencies]
criterion = "0.3"
maplit = "*"
mock = { path = "../../testutil/mock" }
num_cpus = "1"
testutil = { path = "../../testutil" }
tokio = { version = "0.2.23", features = ["rt-core", "macros"] }
walkdir = "2"

[[bench]]
name = "store"
# Using criterion: see https://bheisler.github.io/criterion.rs/book/getting_started.html
harness = false
