[package]
name = "store"
version = "0.1.0"
authors = ["Daniel Wagner-Hall <dwagnerhall@twitter.com>"]
edition = "2021"

[dependencies]
async-stream = { workspace = true }
async-trait = { workspace = true }
protos = { path = "../../protos" }
bytes = { workspace = true }
concrete_time = { path = "../../concrete_time" }
async-oncecell = { workspace = true }
deepsize = { workspace = true }
fs = { path = ".." }
fs-set-times = { workspace = true }
futures = { workspace = true }
glob = { workspace = true }
grpc_util = { path = "../../grpc_util" }
hashing = { path = "../../hashing" }
http = { workspace = true }
http-body = { workspace = true }
indexmap = { workspace = true }
itertools = { workspace = true }
lmdb-rkv = { workspace = true }
log = { workspace = true }
madvise = { workspace = true }
parking_lot = { workspace = true }
prost = { workspace = true }
prost-types = { workspace = true }
remote_provider_traits = { path = "../../remote_provider/remote_provider_traits" }
serde = { workspace = true }
serde_derive = { workspace = true }
sharded_lmdb = { path = "../../sharded_lmdb" }
task_executor = { path = "../../task_executor" }
tempfile = { workspace = true }
tokio-rustls = { workspace = true }
tokio = { workspace = true, features = ["fs"] }
tokio-util = { workspace = true, features = ["io"] }
tonic = { workspace = true, features = ["transport", "codegen", "tls", "tls-roots", "prost"] }
tower-service = { workspace = true }
tryfuture = { path = "../../tryfuture" }
uuid = { workspace = true, features = ["v4"] }
workunit_store = { path = "../../workunit_store" }
opendal = { workspace = true }

[dev-dependencies]
criterion = { workspace = true }
mock = { path = "../../testutil/mock" }
num_cpus = { workspace = true }
testutil = { path = "../../testutil" }
tokio = { workspace = true, features = ["rt", "macros"] }
walkdir = { workspace = true }

[[bench]]
name = "store"
# Using criterion: see https://bheisler.github.io/criterion.rs/book/getting_started.html
harness = false
