<!DOCTYPE html>
<html>
<head>
  <title>Pants BUILD Dictionary</title>
  <style>
      {{> reference/standalone.css}}
  </style>
</head>
<body>

{{> reference/build_dictionary_body.html}}

</body>
</html>
