body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    width: 800px;
    margin-bottom: 800px;
}
a {
    color:#0000EE;
}
a:visited {
    color:#0000EE;
}
a:hover {
    color:#0000FF;
}
