<?xml version="1.0" encoding="utf-8"?>
<!--
Copyright 2015 Pants project contributors (see CONTRIBUTORS.md).
Licensed under the Apache License, Version 2.0 (see LICENSE).
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.pantsbuild.examples.hello_with_library"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_hdpi"
        android:label="@string/appName">
        android:theme="@style/AppTheme" >
        <activity
            android:name="org.pantsbuild.examples.hello_with_library.HelloLibrary"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/appName">
            android:theme="@style/FullscreenTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
