[package]
version = "0.0.1"
edition = "2021"
name = "nailgun"
authors = ["Pants Build <pantsbuild@gmail.com>"]
publish = false

[dependencies]
async_latch = { path = "../async_latch" }
bytes = { workspace = true }
futures = { workspace = true }
log = { workspace = true }
nails = { workspace = true }
os_pipe = { workspace = true, features = ["io_safety"] }
task_executor = { path = "../task_executor" }
tokio = { workspace = true, features = ["fs", "io-std", "io-util", "net", "signal", "sync"] }
tokio-stream = { workspace = true }

[dev-dependencies]
tokio = { workspace = true, features = ["io-std", "macros", "net", "rt-multi-thread"] }
