# Ignore Sphinx output directory and generated reference docs.
_build
build_dictionary.rst
goals_reference.rst

# Ignore pants essentials CDK output
pants_essentials_techtalk.html
pants_essentials_techtalk__*.png
