<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>{{title}}</title>
  <link rel="stylesheet" href="{{topdots}}s.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="{{topdots}}logo.ico">
</head>

<body>

<div class="mainflow">
<nav class="breadcrumbs">
<ul>
{{#breadcrumbs}}
<li><a href="{{link}}">{{title}}</a>
{{/breadcrumbs}}
</ul>
</nav>

<!-- main content start -->
{{{body_html}}}
<!-- main content end -->

</div> <!-- end of mainflow -->
</body>
</html>

