***************
Goals Reference
***************

This page documents ``goals``, actions that can be taken on build targets.
A goal identifies some high-level goal that you wish to accomplish, such as
compiling your code.

A goal depends on other goals that must happen first; for example, Pants must
compile code before it can run tests.

Each goal is implemented by one or more Tasks. For example, the
``JavaCompile`` task compiles java code, and its installed in the ``compile``
goal.


**Goals and Tasks summary**

{{#phases}}
  * :ref:`gref_phase_{{phase.name}}` - {{phase.description}}
{{/phases}}

{{#phases}}

.. _gref_phase_{{phase.name}}:

{{phase.name}}
-----------------------------------------------------------------------------

{{#phase.description}}
{{phase.description}}
{{/phase.description}}

**Installed tasks:**

{{#goals}}
* Implemented by class ``{{name}}``

{{#doc}}
  {{{doc}}}
{{/doc}}

{{/goals}}
{{/phases}}
