[package]
version = "0.0.1"
edition = "2021"
name = "workunit_store"
authors = [ "Pants Build <pantsbuild@gmail.com>" ]
publish = false

[dependencies]
bytes = "1.0"
concrete_time = { path = "../concrete_time" }
# TODO: Waiting on https://github.com/Aeledfyr/deepsize/pull/30 and https://github.com/Aeledfyr/deepsize/pull/31.
deepsize = { git = "https://github.com/stuhood/deepsize.git", rev = "67c6cfc2afa1303c06b19c1b96ebe11fd3217d34" }
hashing = { path = "../hashing" }
hdrhistogram = "7.4"
log = "0.4"
parking_lot = "0.12"
petgraph = "0.5"
rand = "0.8"
strum = "0.20"
strum_macros = "0.23"
tokio = { version = "1.16", features = ["rt"] }
uuid = { version = "0.8", features = ["v4"] }
