[package]
version = "0.0.1"
edition = "2021"
name = "workunit_store"
authors = ["Pants Build <pantsbuild@gmail.com>"]
publish = false

[dependencies]
bytes = "1.2"
concrete_time = { path = "../concrete_time" }
# TODO: Waiting on https://github.com/Aeledfyr/deepsize/pull/{30,31,32}.
deepsize = { git = "https://github.com/stuhood/deepsize.git", rev = "5c8bee5443fcafe4aaa9274490d354412d0955c1" }
hashing = { path = "../hashing" }
hdrhistogram = "7.5"
log = "0.4"
parking_lot = "0.12"
petgraph = "0.6"
rand = "0.8"
smallvec = { version = "1", features = ["union"] }
strum = "0.24"
strum_macros = "0.24"
tokio = { version = "1.28", features = ["rt", "sync"] }

[dev-dependencies]
futures = "0.3"
internment = "0.6"
tokio = { version = "1.28", features = ["macros"] }
