# See the menu of settings available here:
#   https://github.com/timothycrosley/isort/wiki/isort-Settings

[settings]
line_length=100
indent=2
lines_after_imports=2
known_first_party=example
default_section=THIRDPARTY
