<?xml version="1.0" encoding="utf-8"?>
<!--
Copyright 2015 Pants project contributors (see CONTRIBUTORS.md).
Licensed under the Apache License, Version 2.0 (see LICENSE).
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.pantsbuild.examples.example_library">
    <uses-sdk android:minSdkVersion="9" />

    <application>
        <meta-data
                android:name="org.pantsbuild.examples.example_library.ExampleLibrary" />
    </application>

</manifest>