<?xml version="1.0"?>
<project version="4">
  <component name="PropertiesComponent">
    <property name="targets" value="{{workspace.targets}}" />
    <property name="project_path" value="{{workspace.project_path}}" />
    <property name="pants_idea_plugin_version" value="{{workspace.idea_plugin_version}}" />
  </component>
</project>