[package]
version = "0.0.1"
edition = "2021"
name = "dep_inference"
authors = ["Pants Build <pantsbuild@gmail.com>"]
publish = false

[build-dependencies]
tree-sitter = "0.20.10"
tree-sitter-python = "0.20.2"
tree-sitter-javascript = "0.20.0"

[dependencies]
fnv = "1.0.5"
protos = { path = "../protos" }
serde = "1.0.136"
serde_derive = "1.0"
tree-sitter = "0.20.10"
tree-sitter-python = "0.20.2"
tree-sitter-javascript = "0.20.0"
itertools = "0.10.0"
