/target/
# See http://doc.crates.io/faq.html#why-do-binaries-have-cargolock-in-version-control-but-not-libraries
/*/**/Cargo.lock
!fs/fs_util/Cargo.lock
!process_executor/Cargo.lock
# These modules contain purely generated code.
process_execution/bazel_protos/src/gen/
process_execution/bazel_protos/src/gen_for_tower/
