[project]
version = "0.0.1"
name = "engine"
authors = [ "Pants Build <pantsbuild@gmail.com>" ]
build = "src/cffi_build.rs"

[profile.release]
# Enable debug symbols in the `release` profile: doesn't add a noticeable overhead in size/speed,
# but enables profiling of optimized builds.
debug = true

[lib]
crate-type = ["dylib"]

[build-dependencies]
cc = "1.0"

# TODO: Enable workspace when https://github.com/rust-lang/rust/issues/44862 is resolved.
# [workspace]

[dependencies]
boxfuture = { path = "boxfuture" }
fnv = "1.0.5"
fs = { path = "fs" }
futures = "0.1.16"
hashing = { path = "hashing" }
lazy_static = "0.2.2"
ordermap = "0.2.8"
petgraph = "0.4.5"
process_execution = { path = "process_execution" }
