[project]
version = "0.0.1"
name = "engine"
authors = [ "Pants Build <pantsbuild@gmail.com>" ]

[profile.release]
# Enable debug symbols in the `release` profile: doesn't add a noticeable overhead in size/speed,
# but enables profiling of optimized builds.
debug = true

[lib]
crate-type = ["dylib"]

[dependencies]
blake2-rfc = "0.2.17"
crossbeam = "0.2.10"
fnv = "1.0.5"
# TODO: Waiting for a 0.1.11 release: see https://github.com/alexcrichton/futures-rs/pull/383
futures = { git = "https://github.com/alexcrichton/futures-rs", branch = "master" }
futures-cpupool = { git = "https://github.com/alexcrichton/futures-rs", branch = "master" }
glob = "0.2.11"
ignore = "0.1.7"
lazy_static = "0.2.2"
ordermap = "0.2.7"
# TODO: https://github.com/alexcrichton/tar-rs/pull/99
tar = { git = "https://github.com/stuhood/tar-rs", branch = "stuhood/deterministic-tar" }
tempdir = "0.3"
