[project]
version = "0.0.1"
name = "engine"
authors = [ "Pants Build <pantsbuild@gmail.com>" ]
build = "src/cffi_build.rs"

[profile.release]
# Enable debug symbols in the `release` profile: doesn't add a noticeable overhead in size/speed,
# but enables profiling of optimized builds.
debug = true

[lib]
crate-type = ["dylib"]

[build-dependencies]
gcc = "0.3"

[dependencies]
blake2-rfc = "0.2.17"
fnv = "1.0.5"
# TODO: Waiting on a release incorporating https://github.com/alexcrichton/futures-rs/pull/442
futures = { git = "https://github.com/alexcrichton/futures-rs", branch = "master" }
futures-cpupool = { git = "https://github.com/alexcrichton/futures-rs", branch = "master" }
glob = "0.2.11"
ignore = "0.1.8"
lazy_static = "0.2.2"
ordermap = "0.2.8"
petgraph = "0.4.4"
# TODO: Waiting for a 0.4.11 release: https://github.com/alexcrichton/tar-rs/pull/99
tar = { git = "https://github.com/alexcrichton/tar-rs", branch = "master" }
tempdir = "0.3.5"
