[package]
version = "0.0.1"
edition = "2021"
name = "protos"
authors = ["Pants Build <pantsbuild@gmail.com>"]
publish = false

[dependencies]
bytes = { workspace = true }
hashing = { path = "../hashing" }
prost = { workspace = true }
prost-build = { workspace = true }
prost-types = { workspace = true }
tonic = { workspace = true, features = ["transport", "codegen", "tls", "tls-roots"] }

[build-dependencies]
prost-build = { workspace = true }
tonic-build = { version = "0.9", features = ["prost"] }
