[flake8]
extend-ignore:
  E203,  # whitespace before ':' (conflicts with Black)
  E231,  # Bad trailing comma (conflicts with Black)
  E262,  # inline comment doesn't start with `#` (enable once fixed)
  E266,  # Too many leading # for block comment (maybe enable once fixed)
  E301,  # expected 1 blank line (enable once fixed)
  E306,  # expected 1 blank line (enable once fixed)
  E501,  # line too long (> 79 characters)
  E731,  # Do not assign a lambda expression
  E741,  # Ambiguous variable name (enable once fixed)
  W291,  # Trailing whitespace (enable once fixed)
  W293,  # Blank line contains whitespace (enable once fixed)
  W503,  # line break before binary operator  (conflicts with Black)
  W605,  # invalid escape sequence (enable once fixed)
  PB10,  # Bad class attribute (enable once fixed)
  PB13,  # `open()` not within a context manager (possibly enable once fixed)
