[flake8]
extend-ignore:
  # Implicitly concatenated string literals over multiple lines
  NIC002,
  # Implicitly concatenated bytes literals over multiple lines
  NIC102,
  # Unnecessary dict call - rewrite as a literal
  C408,
  # Handled by ruff:
  F,
  E,
  W,
  C90,

[flake8:local-plugins]
extension =
    PNT20 = dedent_use_checker:check_for_dedent_imports
    PNT30 = await_in_loop:check_for_await_in_loop
