[flake8]
extend-ignore:
  # Defaults are all handled by ruff:
  F,
  E,
  W,
  C90,

[flake8:local-plugins]
extension =
    PNT20 = dedent_use_checker:check_for_dedent_imports
    PNT30 = await_in_loop:check_for_await_in_loop
