<!DOCTYPE html>
<head>
  <title>Pants BUILD Dictionary</title>
</head>
<body>

<h1>Pants BUILD Dictionary</h1>

<p>
A <tt>BUILD</tt> file defines one or more <em>build targets</em>.
A build target might create a jar or a deployable package,
run some tests or perform whatever actions you might associate
with the ant concept of a build target. This page describes the
commands and values available. Many of these define <tt>BUILD</tt>
targets; some are handy utilities.

<!-- some styles used only in build dictionary, so far -->
<style>
.bdict_section {
  margin-left: 0.5em;
}
.bdict_heading {
  margin-left: -0.25em;
  border-top: 4px solid #9bf;
}
p.bdict_argspec {
  border-top: 1px dotted #bcd;
  background-color: #def;
  font-family: monospace;
  padding: 0.5em;
}
div.bdict_params_section {
  margin-left: 1em;
  font-size: 90%;
}
p.bdict_method_heading {
  border-top: 2px solid #bcd;
  margin-bottom: 0px;
}
div.bdict_method {
  border: 1px dotted #def;
  margin-left: 1em;
  padding: 0px 0.5em;
}
p.bdict_impl {
  font-size: 90%;
}
.bdict_param {
  margin-left: 1.0em;
}
span.bdict_param_muffle_p p {
  display: inline;
}
</style>

{{#tocs}}
<p>
<b>{{t}}</b> |
  {{#e}}
    <a href="#{{.}}">{{.}}</a>
  {{/e}}
{{/tocs}}

<p>&nbsp;

{{#defns}}

<div class="bdict_section">
<a pantsmark="bdict_{{nom}}"> </a>
<h2 id="{{nom}}" class="bdict_heading">{{nom}}</h2>

{{#argspec}}
<p class="bdict_argspec">{{nom}}{{argspec}}
{{/argspec}}

{{#classdoc_html}}
<div>
{{{classdoc_html}}}
</div>
{{/classdoc_html}}

{{#msg_html}}
{{{msg_html}}}
{{/msg_html}}

{{#funcdoc_html}}
{{{funcdoc_html}}}
{{/funcdoc_html}}

{{#showparams}}
<div class="bdict_params_section">
<p><b>Params:</b>
{{#paramdocs}}

<div class="bdict_param"><b class="bdict_param_name">{{param}}</b>
  {{#typ}}
  (<em class="bdict_param_type">{{typ}}</em>)
  {{/typ}}
  {{#desc}}
  <span class ="bdict_param_muffle_p">{{{desc}}}</span>
  {{/desc}}
</div>

{{/paramdocs}}
</div>
{{/showparams}}

{{#impl}}
<p class="bdict_impl">Implemented by <tt>{{impl}}</tt>
{{/impl}}

{{#showmethods}}
<p><b>Methods:</b>
{{#methods}}
<p class="bdict_method_heading">{{nom}}
<div class="bdict_method">
<p class="bdict_argspec">{{nom}}{{argspec}}

{{{funcdoc_html}}}

  {{#showparams}}
  <div class="bdict_params_section">
  <p><b>Params:</b>
  {{#paramdocs}}

  <div class="bdict_param"><b class="bdict_param_name">{{param}}</b>
    {{#typ}}
    (<em class="bdict_param_type">{{typ}}</em>)
    {{/typ}}
    {{#desc}}
    <span class="bdict_param_muffle_p">{{{desc}}}</span>
    {{/desc}}
  </div>

  {{/paramdocs}}
  </div>
  {{/showparams}}

</div>
{{/methods}}
{{/showmethods}}

</div>

{{/defns}}

</body>
</html>
