***************
Goals Reference
***************

This page documents ``goals``, actions that can be taken on build targets.
A goal identifies some high-level goal that you wish to accomplish, such as
compiling your code.

A goal depends on other goals that must happen first; for example, Pants must
compile code before it can run tests.

Each goal is implemented by one or more Tasks. For example, the
``JavaCompile`` task compiles java code, and its installed in the ``compile``
goal.


**Goals and Tasks summary**

{{#phases}}
  * :ref:`gref_phase_{{phase.name}}` - {{phase.description}}
{{/phases}}

{{#phases}}

.. _gref_phase_{{phase.name}}:

{{phase.name}}
-----------------------------------------------------------------------------

{{#phase.description}}
{{phase.description}}
{{/phase.description}}

{{#goals}}

{{#ogroup}}
.. _gref_cli_{{ogroup.xref}}:

*
{{#ogroup.title}}
  **{{{ogroup.title}}}**
{{/ogroup.title}}
  Implemented by class ``{{name}}``
{{/ogroup}}
{{^ogroup}}
* Implemented by class ``{{name}}``
{{/ogroup}}


{{#doc}}
{{{doc}}}
{{/doc}}

{{#ogroup}}
{{#options}}
  * | ``{{st}}``
{{#typ}}
      ``{{typ}}``
{{/typ}}
{{#default}}
      (Default: ``{{default}}``)
{{/default}}
    |
{{{hlp}}}

{{/options}}
{{/ogroup}}

{{/goals}}


**Other command-line options:**

  `Common`_
{{#leftover_ogs}}
  :ref:`{{title}} <gref_cli_{{xref}}>`
{{/leftover_ogs}}


{{/phases}}


Common
-----------------------------------------------------------------------------

These command-line flags are available with all Pants goals.

{{#glopts}}
  ``{{st}}``
{{hlp}}

{{/glopts}}