*****************
Options Reference
*****************

This page documents Pants options: command-line options, options in a ``pants.ini`` file.
These options are organized by *goal*. Goals are actions that can be taken on build targets.
A goal identifies some high-level goal that you wish to accomplish, such as compiling your code.

Some goals have sub-goals, or *tasks*. For example, the ``compile.jvm`` task compiles Java code,
and is installed in the ``compile`` goal.

**Summary**

{{#goals}}
  * :ref:`oref_goal_{{goal.name}}` - {{goal.description}}
{{/goals}}

{{#goals}}

.. _oref_goal_{{goal.name}}:

{{goal.name}}
-----------------------------------------------------------------------------

{{#goal.description}}
{{.}}
{{/goal.description}}

{{#tasks}}

{{#ogroup}}
.. _oref_cli_{{ogroup.pantsref}}:

*
{{#ogroup.title}}
  **{{{.}}}**
{{/ogroup.title}}
  Implemented by ``{{impl}}``
{{/ogroup}}
{{^ogroup}}
* Implemented by ``{{impl}}``
{{/ogroup}}


{{#doc_rst}}
{{{.}}}
{{/doc_rst}}

{{#ogroup}}
{{#options}}
  * | ``{{st}}``
{{#typ}}
      ``{{.}}``
{{/typ}}
{{#fromfile}}
      (@fromfile value supported)
{{/fromfile}}
{{#default}}
      (Default: ``{{.}}``)
{{/default}}
    |
{{{hlp}}}

{{/options}}
{{/ogroup}}

{{/tasks}}


**Other command-line options:**

  `Common`_
{{#leftover_ogs}}
  :ref:`{{title}} <oref_cli_{{pantsref}}>`
{{/leftover_ogs}}


{{/goals}}


Common
-----------------------------------------------------------------------------

These command-line flags are available with all Pants goals.

{{#glopts}}
{{#options}}
  * | ``{{st}}``
{{#typ}}
      ``{{.}}``
{{/typ}}
{{#fromfile}}
      (@fromfile value supported)
{{/fromfile}}
{{#default}}
      (Default: ``{{.}}``)
{{/default}}
    |
{{{hlp}}}
{{/options}}
{{/glopts}}
