BUILD Dictionary
====================

A ``BUILD`` file defines one or more *build targets*.
A build target might create a jar or a deployable package,
run some tests or perform whatever actions you might associate
with the ant concept of a build target. This page describes the
commands and values available. Many of these define ``BUILD``
targets; some are handy utilities.

{{#tocs}}
**{{t}}** |
  {{#e}}
  `{{.}}`_ |
  {{/e}}

{{/tocs}}

{{#defns}}
.. _bdict_{{nom}}:

{{nom}}
-------------------------------------------------------------------------------

{{#argspec}}
.. py:function:: {{nom}}{{argspec}}
{{/argspec}}

{{#classdoc_rst}}
{{{classdoc_rst}}}
{{/classdoc_rst}}

{{#msg_rst}}
{{{msg_rst}}}
{{/msg_rst}}

{{#funcdoc_rst}}
{{{funcdoc_rst}}}
{{/funcdoc_rst}}

{{#impl}}
 Implemented by ``{{impl}}``
{{/impl}}

{{#showmethods}}
**Methods:**
{{#methods}}

 .. py:method:: {{nom}}{{argspec}}

{{{funcdoc_rst}}}
{{/methods}}
{{/showmethods}}

{{/defns}}


