    - PATH="/usr/lib/jvm/java-8-openjdk-amd64/jre/bin":$PATH
    - JAVA_HOME=/usr/lib/jvm/java-8-openjdk-amd64
    # Increase the max number of user watches to ensure that watchman is able to watch all
    # files in the working copy.
    - sudo sysctl fs.inotify.max_user_watches=524288
    - pip install awscli
    # Multipart operations aren't supported for anonymous users, so we set the
    # threshold high to avoid them being used automatically by the aws cli.
    - aws configure set default.s3.multipart_threshold 1024MB
    - sudo apt-get install -y jq unzip
