{{{header}}}

# Conditions are documented here: https://docs.travis-ci.com/user/conditions-v1
conditions: v1

# -------------------------------------------------------------------------
# Global setup
# -------------------------------------------------------------------------

env:
  global:
    - PANTS_CONFIG_FILES="${TRAVIS_BUILD_DIR}/pants.travis-ci.ini"
    - LC_ALL="en_US.UTF-8"
    - BOOTSTRAPPED_PEX_BUCKET=ci-public.pantsbuild.org
    - BOOTSTRAPPED_PEX_KEY_PREFIX=${TRAVIS_BUILD_NUMBER}/${TRAVIS_BUILD_ID}/pants.pex
    - BOOTSTRAPPED_PEX_URL_PREFIX=s3://${BOOTSTRAPPED_PEX_BUCKET}/${BOOTSTRAPPED_PEX_KEY_PREFIX}
    - PYENV_PY27_VERSION=2.7.15
    - PYENV_PY36_VERSION=3.6.8
    - PYENV_PY37_VERSION=3.7.2
    # NB: Linux shards use Pyenv to pre-install Python. We must not override
    # PYENV_ROOT on those shards, or their Python will no longer work.
    - PYENV_ROOT="${PYENV_ROOT:-${HOME}/.pants_pyenv}"
    - PATH="${PYENV_ROOT}/shims:${PATH}"
    - AWS_CLI_ROOT="${HOME}/.aws_cli"
    # NB: We use this verbose name so that AWS does not pick up the env var $AWS_ACCESS_KEY_ID on
    # pull request builds. We only want this value to be populated on branch builds. Users of this
    # env var (e.g. `deploy_to_s3.py`) are expected to re-export the env var as $AWS_ACCESS_KEY_ID.
    - AWS_ACCESS_KEY_ID__TO_BE_REEXPORTED_ON_DEPLOYS=AKIAV6A6G7RQWPRUWIXR
    # This stores the encrypted AWS secret access key with the env var AWS_SECRET_ACCESS_KEY.
    # Travis converts it back into its original decrypted value when ran in CI, per
    # https://docs.travis-ci.com/user/environment-variables#defining-encrypted-variables-in-travisyml.
    - secure: hFVAQGLVkexzTd3f9NF+JoG1dE+CPICKqOcdvQYv8+YB2rwwqu0/J6MnqKUZSmec4AM4ZvyPUBIHnSw8aMJysYs+GZ6iG/8ZRRmdbmo2WBPbSZ+ThRZxx/F6AjmovUmf8Zt366ZAZXpc9NHKREkTUGl6UL7FFe9+ouVnb90asdw=
    - RUST_BACKTRACE='all'

# Stages are documented here: https://docs.travis-ci.com/user/build-stages
stages:
  - name: &bootstrap Bootstrap Pants
    if: type != cron
  - name: &bootstrap_cron Bootstrap Pants (Cron)
    if: type = cron
  - name: &test Test Pants
    if: type != cron
  - name: &test_cron Test Pants (Cron)
    if: type = cron
  - name: &build_stable Deploy Pants Pex
    if: tag IS present AND tag =~ ^release_.*$
  - name: &build_unstable Deploy Pants Pex Unstable
    if: tag IS NOT present AND type NOT IN (pull_request, cron)

# -------------------------------------------------------------------------
# Cache config
# -------------------------------------------------------------------------

# Travis cache config for jobs that build the native engine.
native_engine_cache_config: &native_engine_cache_config
  before_cache:
    # Ensure permissions to do the below removals, which happen with or without caching enabled.
    - sudo chown -R travis:travis "${HOME}" "${TRAVIS_BUILD_DIR}"
    # Kill all python bytecode in our cached venvs.  Some files appear to
    # get bytecode compiled in non-yet-understood circumstances leading to
    # a full cache re-pack due to new bytecode files.
    - find build-support -name "*.py[co]" -delete
  cache:
    # The default timeout is 180 seconds, and our larger cache uploads exceed this.
    # TODO: Figure out why we have such large caches (2-7GB) and try to trim them.
    timeout: 500
    directories:
      - ${AWS_CLI_ROOT}
      - ${PYENV_ROOT}
      - ${HOME}/.cache/pants/rust/cargo
      - build-support/pants_dev_deps.py36.venv
      - build-support/pants_dev_deps.py37.venv
      - src/rust/engine/target

# Travis cache config for jobs that run a bootstrapped pants.pex.
pants_run_cache_config: &pants_run_cache_config
  before_cache:
    # Ensure permissions to do the below removals, which happen with or without caching enabled.
    - sudo chown -R travis:travis "${HOME}" "${TRAVIS_BUILD_DIR}"
    # The `ivydata-*.properties` & root level `*.{properties,xml}` files'
    # effect on resolution time is in the noise, but they are
    # re-timestamped in internal comments and fields on each run and this
    # leads to travis-ci cache thrash.  Kill these files before the cache
    # check to avoid un-needed cache re-packing and re-upload (a ~100s
    # operation).
    - find ${HOME}/.ivy2/pants -type f -name "ivydata-*.properties" -delete
    - rm -f ${HOME}/.ivy2/pants/*.{css,properties,xml,xsl}
    # We have several tests that do local file:// url resolves for
    # com.example artifacts, these disrupt the cache but are fast since
    # they're resolved from local files when omitted from the cache.
    - rm -rf ${HOME}/.ivy2/pants/com.example
    # Render a summary to assist with further tuning the cache.
    - du -m -d2 ${HOME}/.cache/pants | sort -r -n
  cache:
    # The default timeout is 180 seconds, and our larger cache uploads exceed this.
    # TODO: Figure out why we have such large caches (2-7GB) and try to trim them.
    timeout: 500
    directories:
      - ${AWS_CLI_ROOT}
      - ${PYENV_ROOT}
      # We include the lmdb_store to include a local process cache, so that hopefully we don't need to re-run processes (particularly tests) which have already run.
      # TODO(#8041): Prune this directory before storing the cache.
      - ${HOME}/.cache/pants/lmdb_store
      - ${HOME}/.cache/pants/tools
      - ${HOME}/.cache/pants/zinc
      - ${HOME}/.ivy2/pants
      # TODO(John Sirois): Update this to ~/.npm/pants when pants starts
      # using its own isolated cache:
      #   https://github.com/pantsbuild/pants/issues/2485
      - ${HOME}/.npm

# -------------------------------------------------------------------------
# AWS
# -------------------------------------------------------------------------

# We use AWS S3 to avoid unnecessary work in CI. Specifically, the bootstrap
# shards create a pants.pex, and then upload it to S3 for all of the test
# shards to pull down.

aws_deploy_pants_pex: &aws_deploy_pants_pex >
  aws --no-sign-request --region us-east-1 s3 cp ${TRAVIS_BUILD_DIR}/pants.pex ${BOOTSTRAPPED_PEX_URL_PREFIX}.${BOOTSTRAPPED_PEX_KEY_SUFFIX}

aws_get_pants_pex: &aws_get_pants_pex >
  ./build-support/bin/get_ci_bootstrapped_pants_pex.sh ${BOOTSTRAPPED_PEX_BUCKET} ${BOOTSTRAPPED_PEX_KEY_PREFIX}.${BOOTSTRAPPED_PEX_KEY_SUFFIX}

# -------------------------------------------------------------------------
# Generic shard setups
# -------------------------------------------------------------------------

run_tests_under_pantsd: &run_tests_under_pantsd >
  USE_PANTSD_FOR_INTEGRATION_TESTS="true"

base_linux_config: &base_linux_config
  os: linux
  dist: xenial
  sudo: required
  python:
    - "2.7"
    - "3.6"
    - "3.7"
  addons:
    apt:
      packages:
        - lib32stdc++6
        - lib32z1
        - lib32z1-dev
        - gcc-multilib
        - python-dev
        - openssl
        - libssl-dev
        - jq
        - unzip
        - shellcheck
  language: python
  before_install:
    - ./build-support/bin/install_aws_cli_for_ci.sh
    # TODO(John Sirois): Get rid of this in favor of explicitly adding pyenv versions to the PATH:
    #   https://github.com/pantsbuild/pants/issues/7601
    - pyenv global 2.7.15 3.6.7 3.7.1
  after_failure:
    - ./build-support/bin/ci-failure.sh

py36_linux_config: &py36_linux_config
  <<: *base_linux_config

py37_linux_config: &py37_linux_config
  <<: *base_linux_config

base_linux_test_config: &base_linux_test_config
  <<: *base_linux_config
  <<: *pants_run_cache_config
  before_install:
    {{>before_install_linux}}
  before_script:
    - *aws_get_pants_pex

py36_linux_test_config: &py36_linux_test_config
  <<: *py36_linux_config
  <<: *base_linux_test_config
  stage: *test
  env:
    - &py36_linux_test_config_env >
      BOOTSTRAPPED_PEX_KEY_SUFFIX=py36.linux
      PANTS_REMOTE_CA_CERTS_PATH=/usr/lib/google-cloud-sdk/lib/third_party/grpc/_cython/_credentials/roots.pem

py37_linux_test_config: &py37_linux_test_config
  <<: *py37_linux_config
  <<: *base_linux_test_config
  stage: *test_cron
  env:
    # TODO(https://github.com/tensorflow/tensorflow/issues/27078): tensorflow==1.13.1 on python
    # 3.7.2 for Linux uses the new C++ ABI, which may be an error.
    - &py37_linux_test_config_env >
      BOOTSTRAPPED_PEX_KEY_SUFFIX=py37.linux
      PANTS_REMOTE_CA_CERTS_PATH=/usr/lib/google-cloud-sdk/lib/third_party/grpc/_cython/_credentials/roots.pem
      PANTS_NATIVE_BUILD_STEP_CPP_COMPILE_SETTINGS_DEFAULT_COMPILER_OPTION_SETS="[]"

base_osx_config: &base_osx_config
  os: osx
  language: generic
  addons:
    brew:
      packages:
      - openssl
  before_script:
    - ulimit -c unlimited
    - ulimit -n 8192

py36_osx_config: &py36_osx_config
  <<: *base_osx_config
  # NB: We ensure sane python2 and python3 interpreters are available on the PATH for scripting
  # against.
  env:
    - &py36_osx_config_env >
      {{>env_osx_with_pyenv}}
      PATH="${PYENV_ROOT}/versions/${PYENV_PY27_VERSION}/bin:${PATH}"
      PATH="${PYENV_ROOT}/versions/${PYENV_PY36_VERSION}/bin:${PATH}"
  before_install:
    {{>before_install_osx}}
    - ./build-support/bin/install_python_for_ci.sh "${PYENV_PY27_VERSION}" "${PYENV_PY36_VERSION}"

py37_osx_config: &py37_osx_config
  <<: *base_osx_config
  # NB: We ensure sane python2 and python3 interpreters are available on the PATH for scripting
  # against.
  env:
    - &py37_osx_config_env >
      {{>env_osx_with_pyenv}}
      PATH="${PYENV_ROOT}/versions/${PYENV_PY27_VERSION}/bin:${PATH}"
      PATH="${PYENV_ROOT}/versions/${PYENV_PY37_VERSION}/bin:${PATH}"
  before_install:
    {{>before_install_osx}}
    - ./build-support/bin/install_python_for_ci.sh "${PYENV_PY27_VERSION}" "${PYENV_PY37_VERSION}"

base_osx_test_config: &base_osx_test_config
  <<: *pants_run_cache_config
  before_script:
    - ulimit -c unlimited
    - ulimit -n 8192
    - *aws_get_pants_pex

py36_osx_test_config: &py36_osx_test_config
  <<: *py36_osx_config
  <<: *base_osx_test_config
  stage: *test
  env:
    - &py36_osx_test_config_env >
      {{>env_osx_with_pyenv}}
      BOOTSTRAPPED_PEX_KEY_SUFFIX=py36.osx
      PATH="${PYENV_ROOT}/versions/${PYENV_PY27_VERSION}/bin:${PATH}"
      PATH="${PYENV_ROOT}/versions/${PYENV_PY36_VERSION}/bin:${PATH}"

py37_osx_test_config: &py37_osx_test_config
  <<: *py37_osx_config
  <<: *base_osx_test_config
  stage: *test_cron
  env:
    - &py37_osx_test_config_env >
      {{>env_osx_with_pyenv}}
      BOOTSTRAPPED_PEX_KEY_SUFFIX=py37.osx
      PATH="${PYENV_ROOT}/versions/${PYENV_PY27_VERSION}/bin:${PATH}"
      PATH="${PYENV_ROOT}/versions/${PYENV_PY37_VERSION}/bin:${PATH}"

linux_with_fuse: &linux_with_fuse
  os: linux
  dist: xenial
  sudo: required
  before_install:
    {{>before_install_linux}}
    - sudo apt-get install -y pkg-config fuse libfuse-dev
    - sudo modprobe fuse
    - sudo chmod 666 /dev/fuse
    - sudo chown root:$USER /etc/fuse.conf
  python:
    - "2.7"
    - "3.6"
    - "3.7"

travis_docker_image: &travis_docker_image
  services:
    - docker
  before_script:
    - ulimit -c unlimited

# -------------------------------------------------------------------------
# Bootstrap engine shards
# -------------------------------------------------------------------------

# Note for each platform, we have the Python 3.6 shard also create fs_util and
# upload to S3, to take advantage of the Rust code built during
# bootstrapping. We use the Python 3.6 shard, as it runs during both daily and
# nightly CI. This requires setting PREPARE_DEPLOY=1.

base_linux_build_engine: &base_linux_build_engine
  <<: *native_engine_cache_config
  <<: *travis_docker_image
  stage: *bootstrap
  # Callers of this anchor are expected to provide a value in their `env` for `docker_run_command`
  # (i.e. the bash command(s) to run).
  script:
    - >
      {{>docker_build_travis_ci_image}}
    - >
      {{>docker_run_travis_ci_image}}
    - *aws_deploy_pants_pex

py36_linux_build_engine: &py36_linux_build_engine
  <<: *py36_linux_config
  <<: *base_linux_build_engine
  name: "Build Linux native engine and pants.pex (Py3.6 PEX)"
  env:
    - docker_run_command="./build-support/bin/ci.py --bootstrap && ./build-support/bin/release.sh -f"
    - PREPARE_DEPLOY=1
    - CACHE_NAME=linuxpexbuild.py36
    - BOOTSTRAPPED_PEX_KEY_SUFFIX=py36.linux

py37_linux_build_engine: &py37_linux_build_engine
  <<: *py37_linux_config
  <<: *base_linux_build_engine
  stage: *bootstrap_cron
  name: "Build Linux native engine and pants.pex (Py3.7 PEX)"
  env:
    - docker_centos_version=7
    - docker_run_command="./build-support/bin/ci.py --bootstrap --python-version 3.7"
    - CACHE_NAME=linuxpexbuild.py37
    - BOOTSTRAPPED_PEX_KEY_SUFFIX=py37.linux

base_osx_build_engine: &base_osx_build_engine
  <<: *native_engine_cache_config
  stage: *bootstrap
  # We request the oldest image we can (corresponding to OSX 10.11) for maximum compatibility.
  # We use 10.11 as a minimum to avoid https://github.com/rust-lang/regex/issues/489.
  # See: https://docs.travis-ci.com/user/reference/osx/#OS-X-Version
  osx_image: xcode8
  after_failure:
    - ./build-support/bin/ci-failure.sh

py36_osx_build_engine: &py36_osx_build_engine
  <<: *py36_osx_config
  <<: *base_osx_build_engine
  name: "Build OSX native engine and pants.pex (Py3.6 PEX)"
  env:
    - *py36_osx_config_env
    - PREPARE_DEPLOY=1
    - CACHE_NAME=osxpexbuild.py36
    - BOOTSTRAPPED_PEX_KEY_SUFFIX=py36.osx
  script:
    - ./build-support/bin/ci.py --bootstrap
    - ./build-support/bin/release.sh -f
    - *aws_deploy_pants_pex

py37_osx_build_engine: &py37_osx_build_engine
  <<: *py37_osx_config
  <<: *base_osx_build_engine
  stage: *bootstrap_cron
  name: "Build OSX native engine and pants.pex (Py3.7 PEX)"
  env:
    - *py37_osx_config_env
    - CACHE_NAME=osxpexbuild.py37
    - BOOTSTRAPPED_PEX_KEY_SUFFIX=py37.osx
  script:
    - ./build-support/bin/ci.py --bootstrap --python-version 3.7
    - *aws_deploy_pants_pex

# -------------------------------------------------------------------------
# Lint
# -------------------------------------------------------------------------

py36_lint: &py36_lint
  <<: *py36_linux_test_config
  name: "Self-checks and lint (Py3.6 PEX)"
  env:
    - *py36_linux_test_config_env
    - CACHE_NAME=linuxselfchecks.py36
  script:
    - ./build-support/bin/ci.py --githooks --sanity-checks --doc-gen --lint

py37_lint: &py37_lint
  <<: *py37_linux_test_config
  name: "Self-checks and lint (Py3.7 PEX)"
  env:
    - *py37_linux_test_config_env
    - CACHE_NAME=linuxselfchecks.py37
  script:
    - ./build-support/bin/ci.py --githooks --sanity-checks --doc-gen --lint --python-version 3.7

# -------------------------------------------------------------------------
# Rust lints
# -------------------------------------------------------------------------

base_rust_lints: &base_rust_lints
  <<: *linux_with_fuse

linux_rust_clippy: &linux_rust_clippy
  <<: *base_rust_lints
  <<: *native_engine_cache_config
  name: "Linux Rust Clippy (No PEX)"
  env:
    - CACHE_NAME=linuxclippy
  stage: *test
  before_script:
    - ulimit -c unlimited
    - ulimit -n 8192
  script:
    - ./build-support/bin/ci.py --clippy

cargo_audit: &cargo_audit
  <<: *base_rust_lints
  name: "Cargo audit (No PEX)"
  env:
    - CACHE_NAME=linuxcargoaudit
  stage: *test_cron
  script:
    - ./build-support/bin/ci.py --cargo-audit

# -------------------------------------------------------------------------
# Build wheels
# -------------------------------------------------------------------------

base_build_wheels: &base_build_wheels
  stage: *test
  env:
    - &base_build_wheels_env PREPARE_DEPLOY=1

py36_linux_build_wheels: &py36_linux_build_wheels
  <<: *travis_docker_image
  <<: *base_build_wheels
  <<: *py36_linux_test_config
  name: "Build wheels - Linux and abi3 (Py3.6+)"
  env:
    - *py36_linux_test_config_env
    - *base_build_wheels_env
    - docker_run_command="./build-support/bin/check_pants_pex_abi.py abi3 cp36m
                          && RUN_PANTS_FROM_PEX=1 ./build-support/bin/release.sh -n"
    - CACHE_NAME=linuxwheelsbuild.abi3
  script:
    - >
      {{>docker_build_travis_ci_image}}
    - >
      {{>docker_run_travis_ci_image}}

py36_osx_build_wheels: &py36_osx_build_wheels
  <<: *py36_osx_test_config
  name: "Build wheels - OSX and abi3 (Py3.6+)"
  osx_image: xcode8
  env:
    - *py36_osx_test_config_env
    - *base_build_wheels_env
    - CACHE_NAME=osxwheelsbuild.abi3
    # We ensure selection of the the pyenv interpreter by PY aware scripts and pants.pex with these
    # env vars.
    - PY=${PYENV_ROOT}/versions/${PYENV_PY36_VERSION}/bin/python
    - PANTS_PYTHON_SETUP_INTERPRETER_CONSTRAINTS="['CPython==${PYENV_PY36_VERSION}']"
  script:
    - ./build-support/bin/check_pants_pex_abi.py abi3 cp36m
    - RUN_PANTS_FROM_PEX=1 ./build-support/bin/release.sh -n

# -------------------------------------------------------------------------
# Rust tests
# -------------------------------------------------------------------------

base_rust_tests: &base_rust_tests
  <<: *native_engine_cache_config
  stage: *test
  before_script:
    - ulimit -c unlimited
    - ulimit -n 8192
  script:
    - ./build-support/bin/ci.py --rust-tests

linux_rust_tests: &linux_rust_tests
  <<: *base_rust_tests
  <<: *linux_with_fuse
  name: "Rust tests - Linux (No PEX)"
  env:
    - CACHE_NAME=linuxrusttests

osx_rust_tests: &osx_rust_tests
  <<: *base_rust_tests
  name: "Rust tests - OSX (No PEX)"
  os: osx
  # Fuse actually works on this image. It hangs on many others.
  osx_image: xcode8.3
  addons:
    homebrew:
      # We must update or else Brew will complain that it is too outdated
      # (See https://travis-ci.org/pantsbuild/pants/jobs/546948768#L278).
      update: true
      packages:
        - openssl
      casks:
        - osxfuse
  before_install:
    - ./build-support/bin/install_python_for_ci.sh "${PYENV_PY27_VERSION}" "${PYENV_PY36_VERSION}"
  env:
    - >
      {{>env_osx_with_pyenv}}
      PATH="${PYENV_ROOT}/versions/${PYENV_PY27_VERSION}/bin:${PATH}"
      PATH="${PYENV_ROOT}/versions/${PYENV_PY36_VERSION}/bin:${PATH}"
    - CACHE_NAME=macosrusttests

# -------------------------------------------------------------------------
# OSX sanity checks
# -------------------------------------------------------------------------

base_osx_sanity_check: &base_osx_sanity_check
  script:
    - MODE=debug ./build-support/bin/ci.py --sanity-checks

# TODO: Update this to use 10.14 once it is available
base_osx_10_12_sanity_check: &base_osx_10_12_sanity_check
  <<: *base_osx_sanity_check
  osx_image: xcode9.2

py36_osx_10_12_sanity_check: &py36_osx_10_12_sanity_check
  <<: *py36_osx_test_config
  <<: *base_osx_10_12_sanity_check
  name: "OSX 10.12 sanity check (Py3.6 PEX)"
  env:
    - *py36_osx_test_config_env
    - CACHE_NAME=macos10.12sanity.py36

py37_osx_10_12_sanity_check: &py37_osx_10_12_sanity_check
  <<: *py37_osx_test_config
  <<: *base_osx_10_12_sanity_check
  name: "OSX 10.12 sanity check (Py3.7 PEX)"
  env:
    - *py37_osx_test_config_env
    - CACHE_NAME=macos10.12sanity.py37

base_osx_10_13_sanity_check: &base_osx_10_13_sanity_check
  <<: *base_osx_sanity_check
  osx_image: xcode10.1

py36_osx_10_13_sanity_check: &py36_osx_10_13_sanity_check
  <<: *py36_osx_test_config
  <<: *base_osx_10_13_sanity_check
  name: "OSX 10.13 sanity check (Py3.6 PEX)"
  env:
    - *py36_osx_test_config_env
    - CACHE_NAME=macos10.13sanity.py36

py37_osx_10_13_sanity_check: &py37_osx_10_13_sanity_check
  <<: *py37_osx_test_config
  <<: *base_osx_10_13_sanity_check
  name: "OSX 10.13 sanity check (Py3.7 PEX)"
  env:
    - *py37_osx_test_config_env
    - CACHE_NAME=macos10.13sanity.py37

# -------------------------------------------------------------------------
# Platform specific tests
# -------------------------------------------------------------------------

py36_osx_platform_tests: &py36_osx_platform_tests
  <<: *py36_osx_test_config
  name: "OSX platform-specific tests (Py3.6 PEX)"
  env:
    - *py36_osx_test_config_env
    - CACHE_NAME=macosplatformtests.py36
  script:
    - ./build-support/bin/ci.py --platform-specific-tests

py37_osx_platform_tests: &py37_osx_platform_tests
  <<: *py37_osx_test_config
  name: "OSX platform-specific tests (Py3.7 PEX)"
  env:
    - *py37_osx_test_config_env
    - CACHE_NAME=macosplatformtests.py37
  script:
    - ./build-support/bin/ci.py --platform-specific-tests --python-version 3.7

# -------------------------------------------------------------------------
# JVM tests
# -------------------------------------------------------------------------

base_jvm_tests: &base_jvm_tests
  <<: *linux_with_fuse

py36_jvm_tests: &py36_jvm_tests
  <<: *py36_linux_test_config
  <<: *base_jvm_tests
  name: "JVM tests (Py3.6 PEX)"
  env:
    - *py36_linux_test_config_env
    - CACHE_NAME=linuxjvmtests.py36
  script:
    - ./build-support/bin/ci.py --jvm-tests

py37_jvm_tests: &py37_jvm_tests
  <<: *py37_linux_test_config
  <<: *base_jvm_tests
  name: "JVM tests (Py3.7 PEX)"
  env:
    - *py37_linux_test_config_env
    - CACHE_NAME=linuxjvmtests.py37
  script:
    - ./build-support/bin/ci.py --jvm-tests --python-version 3.7

# -------------------------------------------------------------------------
# Deploy
# -------------------------------------------------------------------------

base_deploy: &base_deploy
  os: linux
  dist: trusty
  language: python
  python:
    - "3.6"
  before_install:
    # TODO(John Sirois): Get rid of this in favor of explicitly adding pyenv versions to the PATH:
    #   https://github.com/pantsbuild/pants/issues/7601
    - pyenv global 3.6.3
  env:
    - &base_deploy_env RUN_PANTS_FROM_PEX=1

py36_deploy_stable_pex: &py36_deploy_stable_pex
  <<: *base_deploy
  name: "Deploy stable pants.pex (Py3.6 PEX)"
  stage: *build_stable
  env:
    - *base_deploy_env
    - PANTS_PEX_RELEASE=stable
    - CACHE_NAME=linuxpexdeploystable.py36
  script:
    - ./build-support/bin/release.sh -p
  deploy:
    # See https://docs.travis-ci.com/user/deployment/releases/
    provider: releases
    # The pantsbuild-ci-bot OAuth token, see the pantsbuild vault for details.
    api_key:
      secure: "u0aCsiuVGOg28YxG0sQUovuUm29kKwQfFgHbNz2TT5L+cGoHxGl4aoVOCtuwWYEtbNGmYc8/3WRS3C/jOiqQj6JEgHUzWOsnfKUObEqNhisAmXbzBbKc0wPQTL8WNK+DKFh32sD3yPYcw+a5PTLO56+o7rqlI25LK7A17WesHC4="
    file_glob: true
    file: dist/deploy/pex/*
    skip_cleanup: true
    on:
      # We only release a pex for Pants releases, which are tagged.
      tags: true
      repo: pantsbuild/pants

py36_deploy_unstable_pex: &py36_deploy_unstable_pex
  <<: *base_deploy
  name: "Deploy unstable pants.pex (Py3.6 PEX)"
  stage: *build_unstable
  env:
    - *base_deploy_env
    - PREPARE_DEPLOY=1
    - CACHE_NAME=linuxpexdeployunstable.py36
  script:
    - ./build-support/bin/release.sh -p
    - mkdir -p dist/deploy/pex/
    - mv dist/pants*.pex dist/deploy/pex/

# -------------------------------------------------------------------------
# Test matrix
# -------------------------------------------------------------------------

matrix:
  include:
    - <<: *py36_linux_build_engine
    - <<: *py36_linux_build_engine
      stage: *bootstrap_cron
    - <<: *py37_linux_build_engine

    - <<: *py36_osx_build_engine
    - <<: *py36_osx_build_engine
      stage: *bootstrap_cron
    - <<: *py37_osx_build_engine

    # NB: We move this test here, above the other unit tests, to ensure that the shard is #5. Per
    # the token generator design
    # https://docs.google.com/document/d/1gL3D1f-AzL_LzRxWLskCpVQ2ZlB_26GTETgXkXsrpDY/edit#heading=h.akhkfdtqfpw,
    # the RBE token server will only give tokens to job number #5, so we must do this for the cron
    # job to work with remoting.
    - <<: *py37_linux_test_config
      name: "Unit tests - V2 test runner (Py3.7 PEX)"
      env:
        - *py37_linux_test_config_env
        - CACHE_NAME=unit_tests.v2.py37
      script:
        - travis_wait 50 ./build-support/bin/ci.py --python-tests-v2 --remote-execution-enabled --python-version 3.7

    - <<: *py36_lint
    - <<: *py37_lint

    - <<: *linux_rust_clippy
    - <<: *cargo_audit

    - <<: *py36_linux_test_config
      name: "Unit tests - V2 test runner (Py3.6 PEX)"
      env:
        - *py36_linux_test_config_env
        - CACHE_NAME=unit_tests.v2.py36
      script:
        - travis_wait 50 ./build-support/bin/ci.py --python-tests-v2 --remote-execution-enabled

    - <<: *py36_linux_test_config
      name: "Unit tests - V1 test runner (Py3.6 PEX)"
      env:
        - *py36_linux_test_config_env
        - CACHE_NAME=unit_tests.v1.py36
      script:
        - ./build-support/bin/ci.py --plugin-tests
        - ./build-support/bin/ci.py --python-tests-v1

    - <<: *py37_linux_test_config
      name: "Unit tests - V1 test runner (Py3.7 PEX)"
      env:
        - *py37_linux_test_config_env
        - CACHE_NAME=unit_tests.v1.py37
      script:
        - ./build-support/bin/ci.py --plugin-tests --python-version 3.7
        - ./build-support/bin/ci.py --python-tests-v1 --python-version 3.7

    - <<: *py36_linux_build_wheels
    - <<: *py36_osx_build_wheels

{{#integration_shards}}
    - <<: *py36_linux_test_config
      name: "Integration tests - shard {{.}} (Py3.6 PEX)"
      env:
        - *py36_linux_test_config_env
        - CACHE_NAME=integrationshard{{.}}
      script:
        - >
          ./build-support/bin/ci.py --integration-tests
          --integration-shard {{.}}/{{integration_shards_length}}

{{/integration_shards}}
{{#integration_shards}}
    - <<: *py36_linux_test_config
      name: "Integration tests with Pantsd - shard {{.}} (Py3.6 PEX)"
      stage: *test_cron
      env:
        - *py36_linux_test_config_env
        - *run_tests_under_pantsd
        - CACHE_NAME=integrationshard{{.}}_pantsd
      script:
        - >
          ./build-support/bin/ci.py --integration-tests
          --integration-shard {{.}}/{{integration_shards_length}}

{{/integration_shards}}
{{#integration_shards}}
    - <<: *py37_linux_test_config
      name: "Integration tests - shard {{.}} (Py3.7 PEX)"
      env:
        - *py37_linux_test_config_env
        - CACHE_NAME=integrationshard{{.}}
      script:
        - >
          ./build-support/bin/ci.py --integration-tests
          --integration-shard {{.}}/{{integration_shards_length}}
          --python-version 3.7

{{/integration_shards}}

    - <<: *linux_rust_tests
    - <<: *osx_rust_tests

    - <<: *py36_osx_10_12_sanity_check
    - <<: *py37_osx_10_12_sanity_check

    - <<: *py36_osx_10_13_sanity_check
    - <<: *py37_osx_10_13_sanity_check

    - <<: *py36_osx_platform_tests
    - <<: *py37_osx_platform_tests

    - <<: *py36_jvm_tests
    - <<: *py37_jvm_tests

    - <<: *py36_deploy_stable_pex
    - <<: *py36_deploy_unstable_pex

deploy:
  provider: script
  script: ./build-support/bin/deploy_to_s3.py
  # Otherwise travis will stash dist/deploy and the deploy will fail.
  skip_cleanup: true
  on:
    condition: $PREPARE_DEPLOY = 1
    # NB: We mainly want deploys for `master` commits; but we also need new binaries for stable
    # release branches; eg `1.3.x`
    all_branches: true
    repo: pantsbuild/pants
