<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript" src="/assets/js/matrix.js"></script>
<script type="text/javascript" src="/assets/js/stats/chart.js"></script>
<script type="text/javascript" src="/assets/js/stats/table.js"></script>
<script type="text/javascript" src="/assets/js/stats/breadcrumb.js"></script>
<script type="text/javascript" src="/assets/js/stats/stats.js"></script>
<script type="text/javascript">pants.stats.initPage();</script>

<div class="timing-line-chart"></div>
<div class="timing-drilldown-breadcrumbs"></div>
<div class="timing-drilldown-table"></div>
